<% @bids.each do |bid| %>
<div id="all-bids">
  <% bidder = bid.user %>
    <%= link_to bidder do %>
      <%= bidder.name %>
      <img src="<%= bidder.profile_photo %>">
    <% end %>

<% if @user == current_user %>
  <button id="message-user">Message this user!</button>
<% end %>


<!-- PLEASE DO NOT REMOVE, TRINITY'S
setTimeout(cat.speak,2000); -->
