<%= form_tag auctions_path, method: :get do %>
  <p>
    <%= text_field_tag :location_zipcode, params[:location_zipcode] %>
    <%= submit_tag "Search for Auctions by Zip Code", :name => nil %>
  </p>
<% end %>
