  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

*= require bootstrap
*= require bootstrap-datetimepicker
*= require_self
*= require_tree .
*/

#profile-photo{
  width:75px;
  height:75px;
  border-radius: 45px;
}

#profile-name{
  display: inline;
  margin: 20px
}

#auctions-end{
  position:relative;
}

a :hover{
  text-decoration: none;
  color: #010f79;
}

#auctions-index-nav{
  margin-left: 5%;
}
#auctions-index-nav li{
  display:inline-block;
  margin: 20px;
  text-align: center;
  font-size: 18px
}

.auction{
  background: rgba(0,0,0,.05);
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
/*  width: 60%;
  /*height: auto;*/
/*  height: 300px;
  float: left;
  display:block;*/*/
}

#all-messages{
  height: 250px;
  background: rgba(0,0,0,.1);

}

#message-box-title{
  position: absolute;
  margin-top: 30px;
  margin-left: 50px;
}


.message-info{
  background:
}

#tweet{
  float:right;
  position: relative;
}

#categories{
  width: 30%;
  background: rgba(0,0,0,.05);
  float: right;
  padding: 20px;
  border-radius: 10px;
}

.categories{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.categories-container {
  text-align: center;

}

.category{
  width: 300px;
  display: inline;
}


#main-logo{
  height: 21px;
}

footer {
  text-align: right;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: url('logofiles/stock-footage-group-of-young-people-hanging-out-at-beach-around-campfire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
}
