  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

*= require bootstrap
*= require bootstrap-datetimepicker
*= require TimeCircles
*= require auctions
*= require_self
*= require_tree .
*/

#profile-photo{
  width:75px;
  height:75px;
  border-radius: 45px;
}

#profile-name{
  display: inline;
  margin: 20px
}

#auctions-end{
  position:relative;
}

#badge-display{
  display: inline-block;
}

a :hover{
  text-decoration: none;
  color: #010f79;
}

/*MESSAGES*/

#all-messages{
  height: 100%;
  width: 300px;
  float:right;
  padding: 20px;
  margin-top: -20px;
  background: rgba(0,0,0,.1);
  margin-bottom: 40px;
  overflow: scroll;

}

#message-box-title{
  position: absolute;
 margin: 0 auto;
  text-align: center;
  m
}

.message-info{
  margin: 15px 0 0 0;
}



/*CATEGORIES*/
#categories{
  width: 30%;
  background: rgba(0,0,0,.05);
  float: right;
  padding: 20px;
  border-radius: 10px;
}


.category {
  display: inline-block;
  background: rgba(0,0,0,.05);
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  width: 260px;
  height: 250px;
}

#categories-container {
  margin: 0 auto;
}

/*FORM*/

.auction-create-form {
  margin: 0 0 30px 0;
}

/*.categories{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}*/

.categories-container {
  text-align: center;

}

.category{
  width: 300px;
  display: inline;
}


#main-logo{
  height: 21px;
}

footer {
  text-align: right;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: url('logofiles/stock-footage-group-of-young-people-hanging-out-at-beach-around-campfire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;

}

.message {
  margin:10px;
  margin-left: 100px;
}

.message-user-info{
  margin: 20px;
  margin-left: 100px;
}

#auction-img{
  height:75px;
  width:75px;
  border-radius: 45px;
}

#container-show{
  margin-left: 5%;
}

#auction-bids{
  background: rgba(0,0,0,.05);
  border-radius:10px;
  padding: 10px;
}

#filler{
  margin: 50px; background: rgba(0,0,0,.1); border-radius: 10px

}

.space-bottom {
  padding-bottom: 60px;
}
