/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

*= require bootstrap
*= require bootstrap-datetimepicker
*= require_self
*= require_tree .
*/

#all-messages {
  display: inline-block;
  position: fixed;
  margin: 0 0 0 25px;
  right: 0;
  width: 350px;
  background-color: blue;
  height: 100%;
}

#profile-photo{
  width:75px;
  height:75px;
  border-radius: 45px;
}

#profile-name{
  display: inline;
  margin: 20px;
}

.textDiv_days{
  background: #010f79;
}
#auctions-end{
  position:relative;
}

a :hover{
  text-decoration: none;
  color: #010f79;
}

#auctions-index-nav{
  margin-left: 5%;
}
#auctions-index-nav li{
  display:inline-block;
  margin: 20px;
  text-align: center;
  font-size: 18px
}

.auction{
  background: rgba(0,0,0,.05);
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}
#all-messages{
  height: 200px;
  background: rgba(0,0,0.05)
}


