<div class="categories-container">

 <% @categories.each do |category| %>

  <div class="auction">

      <h3> Title: <%= category.title %> </h3>


      Description:<%= category.description[0..100] %>
      <br>
      <br>
        <%= image_tag "images/badgeicons/#{category.title.downcase.gsub(/\s/, '')}.png" %>
      <br>
  </div>

<% end%>
</div>
