<div id="categories-container" >
 <% @categories.each do |category| %>

  <div class="category">

      <a href="/categories/<%= category.id %>">
      <h3> <%= category.title %> </h3>
      </a>

      <%= category.description%>
      <br>
      <br>
        <%= image_tag "images/badgeicons/#{category.title.downcase.gsub(/\s/, '')}.png" %>
      <br>
  </div>

<% end%>
</div>
