<div id="categories-container">
 <% @categories.each do |category| %>
  <div class="category">
      <%= category.title %><%= category.description[0..100] %>
      <img src="<%= category.badge_photo %>">
          <div class="category-timer"><!-- COUNTDOWN --></div>
  </div>
<% end%>
</div>
