<div class="categories-container">

 <% @categories.each do |category| %>

  <div class="auction category">

      <a href="/categories/<%= category.id %>">
      <h3>  <%= category.title %> </h3>
      </a>
      Description:<%= category.description[0..100] %>
      <br>
      <br>
        <%= image_tag "images/badgeicons/#{category.title.downcase.gsub(/\s/, '')}.png" %>
      <br>
  </div>

<% end%>
</div>
