<!-- tried to fix the stuff throwing errors -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SnapDate</a>
    </div><!-- end brand header-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">placeholder<img src="<%#= asset_path 'logo.png' %>" width="120"></li>
        <li class="active">placeholder<img src="<%#= asset_path 'logo.png' %>" width="120"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%# if current_user %>
          <li>Hello, <%#= current_user.first_name %>!</li>
          <li><%= link_to "Current Auctions", users_path %></li>
          <li><%#= link_to "New Auctions", new_link_path %></li>
          <li><%#= link_to_unless_current 'Logout', logout_path %></li>
        <%# else %>
          <li><%= link_to "Connect with Facebook", "/auth/facebook" %></li>
        <%# end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
