<!DOCTYPE html>
<html>
<head>
  <title>SnapDate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <% #TODO add in bootstrap files and remove boostrap import when we're done%>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/amelia/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<%= render 'layouts/navbar' %>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
